body{
    font-family: 'Open Sans', sans-serif;
}


.todo{
    background: #ffffee;
    padding: 4px;
    margin: 4px 0px;
}
.todo_item{
    display: block;
    padding: 4px;
    margin: 4px 0px;
    font-weight: 400;
    font-style: italic;
}

